.message {
    margin: 1rem;
    text-align: right;
    padding: 1rem;
    cursor: pointer;
    background-color: yellow;
    align-self: flex-end;

    &__text {
        font-size: 2rem;
    }
}

.inside {
    margin: 1rem;
    background-color: tomato;
    padding: 1rem;
    border-radius: 10px;

    &__text {
        line-height: 1.2;
        font-size: 1.6rem;
        margin: 1rem 0;
    }

    &__link {
        color: white;

        &:hover,
        &:active {
            color: purple;
            background-color: white;
            text-decoration: underline;
        }
    }
}

.bio {
    background-color: tomato;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__avatar {
        height: 125px;
        width: 125px;
        border-radius: 5px;
    }

    &__text {
        width: 90%;
        margin: 1rem;
        font-size: 1.7rem;
    }

    &__link {
        color: white;

        &:hover,
        &:active {
            color: purple;
            background-color: white;
            text-decoration: underline;
        }
    }
}