.message {
    margin: 1rem;
    text-align: right;
    padding: 1rem;
    cursor: pointer;
    background-color: $main-l-blue;
    border-radius: .5rem;
    align-self: flex-end;

    &__text {
        font-size: 2rem;
    }
}

.inside {
    margin: 1rem;
    background-color: $main-red;
    padding: 1rem;
    border-radius: 1rem;

    &__text {
        line-height: 1.2;
        margin: .5rem 0;
    }

    &__link {
        color: $main-white;

        &:hover,
        &:active {
            color: $main-d-blue;
            background-color: $main-white;
            text-decoration: underline;
        }
    }
}

.bio {
    background-color: $main-red;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__avatar {
        height: 12.5rem;
        width: 12.5rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
    }

    &__text {
        margin: .5rem;
    }

    &__link {
        color: $main-white;

        &:hover,
        &:active {
            color: $main-d-blue;
            background-color: $main-white;
            text-decoration: underline;
        }
    }
}