.message__animation--0 {
    animation: wipe .4s ease-in-out;
}

.message__animation--1 {
    animation: wipe .6s ease-in-out;
}

.message__animation--2 {
    animation: wipe 1s ease-in-out;
}

.robot__animation--0{
    animation: shake 1.2s  infinite;
}

.robot__animation--1{
    animation: shake 1.4s  infinite;
}

.robot__animation--2{
    animation: shake 1.8s  infinite;
}

.robot__animation--3{
    animation: shake 1.8s  infinite;
}


.input__animation {
    animation: slideUp .6s ease-in;
}

.query__animation {
    animation: queryLight .6s ease-out;
}

@keyframes wipe {
    0% {
        background-color: transparent;
        color: transparent;
        transform: translateX(0px);
    }
    75% {
        background-color: $main-red;
        color: transparent;
        transform: translateX(-100px);
    }
    100% {
        background-color: $main-d-blue;
        transform: translateX(0px);
    }
}

@keyframes slideUp {
    0% {
        background-color: transparent;
        color: transparent;
        border-top: 0px solid $main-black;
        transform: translateX(0px);
    }
    75% {
        display: block;
        color: transparent;
        transform: translateX(-100px);
        border-top: 0px solid $main-black;
    }
    100% {
        border-top: 0px solid $main-black;
        transform: translateX(0px);
    }
}

@keyframes queryLight {
    0% {
        color: transparent;
    }
    75% {
        color: $main-l-blue;
    }
    100% {
        color: $main-d-blue;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }